@use "../colors";

.button {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  background-color: colors.$light-gray;
  border-radius: 6px;

  &:hover {
    transform: translateX(-50%) scale(1.05);
  }

  &:active {
    transform: translateX(-50%) scale(0.95);
  }
}

.icon {
  width: 24px;
  height: 24px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
